<app-directive-ngif class="ngIf"></app-directive-ngif>
<app-directive-ngswitch class="ngswitch"></app-directive-ngswitch>
<app-directive-ngfor class="ngFor"></app-directive-ngfor>
<app-directive-ngclass class="ngClass"></app-directive-ngclass>
<app-directive-ngstyle class="ngStyle"></app-directive-ngstyle>
<app-operador-elvis class="elvis"></app-operador-elvis>

<app-ngcontent class="ngcontent">
    <h3 class="titulo">Título (<small>passado para o componente por ng-content</small>)</h3>
    <p class="corpo">Primeiro conteúdo (<small>passado para o componente por ng-content</small>)</p>
    <p class="corpo">Segundo conteúdo (<small>passado para o componente por ng-content</small>)</p>
</app-ngcontent>

<app-custom-directives class="custom-directives"></app-custom-directives>