<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link"
                    [class.active]="aba == 'home'"
                    (click)="aba = 'home'"
                    >Home
                </a>
                <a class="nav-link"
                    [class.active]="aba == 'features'"
                    (click)="aba = 'features'"
                    >Features
                </a>
                <a class="nav-link"
                    [class.active]="aba == 'pricing'"
                    (click)="aba = 'pricing'"
                    >Pricing
                </a>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container" [ngSwitch]="aba">
    <p *ngSwitchCase="'features'">Features</p>
    <p *ngSwitchCase="'pricing'">Pricing</p>
    <p *ngSwitchDefault>Home</p>
</div>