<p>Descrição: {{ tarefa.desc }}</p>
<!-- <p>Responsavel1: {{ tarefa.responsavel.nome }}</p> -->
<!-- <p>Responsavel1: {{ tarefa.responsavel == null ? '' : tarefa.responsavel.nome}}</p> -->
<p>Responsavel 1: {{ tarefa.responsavel_1?.nome }}</p>
<p>Responsavel 2: {{ tarefa.responsavel_2?.usuario?.nome }}</p>
<br>
<p>
    <small> No typeScript, usando este operador depois de uma propriedade de um objeto ou um parâmetro de um função informamos que  a propriedade ou parâmetro é opcional </small>
</p>
